*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

body {
	margin: 0;
	--color-text: #111;
	--color-number: #999;
	--color-bg: #fff;
	--color-link: #1352d1;
	--color-link-hover: #111;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: tenon, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pan {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 3rem; 
	position: absolute;
	top: 78%;
	left: 30%;
	overflow: hidden;
	color: #fff;
}

.button--pan span {
	position: relative;
	mix-blend-mode: difference;
}

.button--pan::before {
	content: '';
	background: #000;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
	transform: translate3d(0,-100%,0);
}
  /* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	position: absolute;
	top:11.5%;
	right: 06.65%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	color: rgb(255,138,115);
  }

  lєνι_Aukerman
#6802

BELUGA — Today at 11:17 AM
no i can't
yea now ican
lєνι_Aukerman — Today at 11:18 AM
you cant speak
bro
BELUGA — Today at 11:18 AM
no
lєνι_Aukerman — Today at 11:18 AM
why
your dad is there
BELUGA — Today at 11:18 AM
my parents
no bro
it is not noice
BELUGA — Today at 11:19 AM
see this
code nothing will happen
it is noice
lєνι_Aukerman — Today at 11:19 AM
bro see this one
BELUGA — Today at 11:19 AM
open and show
the video
lєνι_Aukerman — Today at 11:20 AM
Image
this one
is noice
BELUGA — Today at 11:20 AM
oh
k
lєνι_Aukerman — Today at 11:20 AM
shall i code this
BELUGA — Today at 11:20 AM
yep
lєνι_Aukerman — Today at 11:20 AM
kk
BELUGA — Today at 11:20 AM
but tht was noice
BELUGA — Today at 11:21 AM
bro! this is only nice bro
its better than tht one
BELUGA — Today at 12:36 PM
<script src="https://kit.fontawesome.com/88f2b5cbd6.js" crossorigin="anonymous"></script>
BELUGA — Today at 1:01 PM
<link rel="stylesheet" type="text/css" href="./style.css">
lєνι_Aukerman — Today at 1:20 PM
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap%27);
BELUGA — Today at 1:52 PM
welcome template
Attachment file type: archive
welcome.zip
460.27 KB
lєνι_Aukerman — Today at 1:52 PM
br can you hear me
bro
BELUGA — Today at 1:52 PM
nope
lєνι_Aukerman — Today at 1:52 PM
i can hear you
BELUGA — Today at 1:52 PM
no
i can't
hear you
lєνι_Aukerman — Today at 1:52 PM
bro i can hear you
BELUGA — Today at 1:52 PM
kk
lєνι_Aukerman — Today at 1:53 PM
check your settings
for me it is howing it is fine
showing*
i can hear you
bri
BELUGA — Today at 1:53 PM
okk
lєνι_Aukerman — Today at 1:53 PM
bro*
sorry
you cant hear me
lєνι_Aukerman — Today at 2:38 PM
.play astrouanut in the ocean
lєνι_Aukerman — Today at 2:53 PM
Image
BELUGA — Today at 2:53 PM
kk
BELUGA — Today at 4:11 PM
bro! my parents are here
so i will talk afterwards
BELUGA — Today at 4:23 PM
i am not doing anything
yay! finally it's working
lєνι_Aukerman — Today at 4:54 PM
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
Expand
Intro_test.html
3 KB
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
     margin: 0;
     padding: 0;
Expand
style.css
4 KB
﻿
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/docs/Pictures/contact\ us\ background.jpg);
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: white;
}
.contact .content p
{
    
    font-weight: 300;
    color: white;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd0;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea 
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;  
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
             .contact
             {
                 padding: 50px;
             }
             .container
             {
                 flex-direction: column;
             }
             .container.contactInfo
             {
                 margin-bottom: 40px;
             }
             .container .contactInfo,
             .contactForm
             {
                 width: 100%;

             }
             

            


}