/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,500,700|Roboto:100,300,400,500,700&display=swap");
$body-font: 'Roboto';
$heading: 'Poppins';

/*=========
Color Code
===========*/
$bage-bg: #f9f9f9;
$body-color: #2f3146;
$base-color: #10b467;
$base-secondary-color: #06a158;
$color-primary: #000;
$color-secondary: #fff;
$color-white: #fff;
$color-blackis: #232323;
$btn-circle-decor-dimensions: 50px;
