/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,500,700|Roboto:100,300,400,500,700&display=swap");
$body-font: 'Roboto';
$heading: 'Poppins';

/*=========
Color Code
===========*/
$bage-bg: #f6f8fc;
$body-color: #2f3146;
$base-color: #7650e0;
$color-primary: #000;
$color-secondary: #fff;
$color-white: #fff;
$color-blackis: #1a1a1a;
$btn-circle-decor-dimensions: 50px;
