body {
  margin: 0;
  padding: 100px 0px;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background: $bage-bg;
  color: $body-color;
  font-family: $body-font;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-image: url(../img/bbg.jpg);
  background-size: cover;
}

::-moz-selection {
  color: $color-secondary;
  background-color: $base-color;
}

::selection {
  color: $color-secondary;
  background-color: $base-color;
}

::-moz-selection {
  color: $color-secondary;
  background-color: $base-color;
}

// global settings
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.form-control {
  box-shadow: none;
}



p,label{
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $heading;
}

// *** Margin/Padding Setting ***//
.pt150 {padding-top: 150px}

.multisteps-form__panel[data-animation=scaleOut] {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation=scaleOut].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.multisteps-form__panel[data-animation=slideHorz] {
  left: -50px;
}
.multisteps-form__panel[data-animation=slideHorz].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -o-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation=slideVert] {
  top: 30px;
}
.multisteps-form__panel[data-animation=slideVert].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation=fadeIn].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation=scaleIn] {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation=scaleIn].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* ==========================================================================
   multistep css
   ========================================================================== */
//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}


//multisteps progress styles
.multisteps-form__progress {
  padding-top: 60px;
  height: 100%;
}

//multisteps form styles

//multisteps panels styles
.multisteps-form__panel {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  overflow: hidden;
  height: 0;

    //active panels
    &.js-active {
      opacity: 1;
      visibility: visible;
      overflow: visible;
      height: auto;
    }

    //scaleOut animation
    &[data-animation="scaleOut"] {
      transform: scale(1.1);

      &.js-active {
        @include transition-mix;

        transform: scale(1);
      }
    }

    //slideHorz animation
    &[data-animation="slideHorz"] {
      left: -50px;

      &.js-active {
        @include transition-mix($duration: .25s, $timing: cubic-bezier(0.2, 1.13, 0.38, 1.43));

        left: 0;
      }
    }

    //slideVert animation
    &[data-animation="slideVert"] {
      top: 30px;

      &.js-active {
        @include transition-mix();

        top: 0;
      }
    }

    //fadeIn animation
    &[data-animation="fadeIn"] {

      &.js-active {
        @include transition-mix($duration: .3s);
      }
    }

    //scaleOut
    &[data-animation="scaleIn"] {
      transform: scale(.9);

      &.js-active {
        @include transition-mix;

        transform: scale(1);
      }
    }
  }
  .actions {
    right: 0px;
    bottom: -125px;
    margin-bottom: 20px;
    position: absolute;
    li {
      height: 65px;
      width: 430px;
      color: #3c3c3c;
      font-size: 18px;
      cursor: pointer;
      font-weight: 600;
      line-height: 70px;
      margin-left: 15px;
      text-align: center;
      border-radius: 3px;
      display: inline-block;
      background-color:  #fff;
      text-transform: uppercase;
    }
  }